.main-container {
  height: 100vh;
  width: 100dvw;
  display: flex;
  flex-direction: row;
  font-family:  Tahoma, sans-serif,Verdana, Geneva;
  font-family: sans-serif, Tahoma, Verdana, Geneva;
}
h2{
  font-family:  Tahoma, sans-serif,Verdana, Geneva;
  font-family: sans-serif, Tahoma, Verdana, Geneva;
}

.left-container {
  width: 80%;
  height: 100%;
  background-color: #1b424200;
  display: flex;
  flex-direction: column;
}

.right-container {
  width: 20%;
  height: 100%;
  background-color: #1b424200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score-board {
  width: 90%;
  height: 20%;
  background-color: white;
  margin: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:  Tahoma, sans-serif,Verdana, Geneva;
}

.display-container {
  width: 100%;
  height: 40%;
  background-color: #5f5f5f99;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:  Tahoma, sans-serif,Verdana, Geneva;
  font-family: sans-serif, Tahoma, Verdana, Geneva;
}

.left-bottom__container {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.text-display {
  font-size: 40px;
  color: rgb(127, 127, 127);
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  padding: 40px;
}

.answer-button {
  width: 80%;
  border-radius: 20px;
  margin: 20px;
  background-color: #59595900;
  font-size: 30px;
  color: white;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
